<h1><%= title %></h1>
<<% for(var i=0; i < canais.length; i++) { %>
    let href = '/' + canais[0];
    <a href="/elevensports1">ELEVEN SPORTS 1</a>
    <br>
 <% } %>
<!-- <a href="/sporttv1">SPORT TV 1</a>
<br>
<a href="/elevensports1">ELEVEN SPORTS 1</a>
<br>
<a href="/benficatv1">BENFICA TV</a>
<br>
<a href="/tvcine1">TVCINE 1</a>
<br>
<a href="/tvcine2">TVCINE 2</a>
<br>
<a href="/tvcine3">TVCINE 3</a>
<br>
<a href="/tvcine4">TVCINE 4</a> -->