<div class="slider"></div>
<div id="slider">
    <a href="#" class="control_next"><i class="fas fa-arrow-right"></i></a>
    <a href="#" class="control_prev"><i class="fas fa-arrow-left"></i></a>
    <ul>
        <li style="background: url(https://neulionsmbnyc-a.akamaihd.net/u/mt1/elevensportspt/thumbs/dl/4682_pc.jpg); background-size: cover;"></li>
        <li style="background: url(https://neulionsmbnyc-a.akamaihd.net/u/mt1/elevensportspt/thumbs/dl/4681_pc.jpg); background-size: cover;"></li>
        <li style="background: url(https://neulionsmbnyc-a.akamaihd.net/u/mt1/elevensportspt/thumbs/dl/4722_pc.jpg); background-size: cover;"></li>
        <li style="background: url(https://neulionsmbnyc-a.akamaihd.net/u/mt1/elevensportspt/thumbs/dl/4721_pc.jpg); background-size: cover;"></li>
    </ul>
</div>

<div id="canais">
    <% for(let grupo in canais) { %>
        <ul class="press">
        <% for(let canal in canais[grupo]) { %>
            <li>
                <a href="<%= canal %>"><div class="press-logo hvr-bob" style="background: #0d0f14 url('images/canais/<%= canal %>.png') no-repeat center; background-size: cover;"></div></a>
            </li>
        <% } %>
        </ul>
    <% } %>
</div>

<script>
    var slideCount = $('#slider ul li').length;
    var slideWidth = $('#slider ul li').width();
    var slideHeight = $('#slider ul li').height();
    var sliderUlWidth = slideCount * slideWidth;

    $('#checkbox').change(function(){
    setInterval(function () {
        moveRight();
    }, 3000);
    });
    
    $('#slider').css({ width: slideWidth, height: slideHeight });
    
    $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
    
    $('#slider ul li:last-child').prependTo('#slider ul');

    $('.slider').css('background', $('#slider > ul > li:nth-child(2)').css('background'));

    function moveLeft() {
        $('#slider ul').animate({
            left: + slideWidth
        }, 600, function () {
            $('#slider ul li:last-child').prependTo('#slider ul');
            $('#slider ul').css('left', '');
            $('.slider').css('background', $('#slider > ul > li:nth-child(2)').css('background'));
        });
    };

    function moveRight() {
        $('#slider ul').animate({
            left: - slideWidth
        }, 600, function () {
            $('#slider ul li:first-child').appendTo('#slider ul');
            $('#slider ul').css('left', '');
            $('.slider').css('background', $('#slider > ul > li:nth-child(2)').css('background'));
        });
    };

    $('a.control_prev').click(function () {
        moveLeft();
    });

    $('a.control_next').click(function () {
        moveRight();
    });
</script>