<div class="slider"></div>
<div id="slider">
    <a href="#" class="control_next"><i class="fas fa-arrow-right"></i></a>
    <a href="#" class="control_prev"><i class="fas fa-arrow-left"></i></a>
    <ul>
        <li style="background: url(/images/slide.png); background-size: cover;"></li>
        <li style="background: url(/images/slide.png); background-size: cover;"></li>
    </ul>
</div>

<div id="canais">
    <% for(let grupo in canais) { %>
        <ul class="press">
        <% for(let canal in canais[grupo]) { %>
            <li>
                <a href="<%= canal %>"><div class="press-logo hvr-bob" style="background: #0d0f14 url('images/canais/<%= canal %>.png') no-repeat center; background-size: cover;"></div></a>
            </li>
        <% } %>
        </ul>
    <% } %>
</div>

<script>
    $(document).on('click', 'a[href^="#"]', function (event) {
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 600);
    });
</script>