<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/sporttv1">SPORT TV 1</a>
    <a href="/elevensports1">ELEVEN SPORTS 1</a>
    <!-- <a href="/benficatv">BENFICA TV</a> -->
    <a href="/tvcine1">TVCINE 1</a>
  </body>
</html>