<!DOCTYPE html>
<html lang="pt">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130184916-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130184916-1');
  </script>
  <title>TVGA</title>
  <meta name="Description" content="Canais Portugueses Online & IPTV | SPORT TV, ELEVEN SPORTS, TVCINE, FOX...">
  <meta name="Keywords" content="sport tv,elevensports,tvcine,fox,tvcine,canais,hd,iptv,tuga,tvga,portugal,portugueses,online,grátis,gratis,gratuito">
  <meta property="og:title" content="TVGA - Canais Portugueses Online & IPTV | SPORT TV, ELEVEN SPORTS, TVCINE, FOX...">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="TVGA">
  <meta property="og:image" content="/images/tvga-logo.png">
  <meta property="og:image:type" content="image/png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/video.min.js"></script>
  <script src="javascripts/videojs-contrib-hlsjs.min.js"></script>
  <link rel="stylesheet" href="stylesheets/video-js.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#0d0f14">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#0d0f14">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#0d0f14">
</head>
<body style="visibility: hidden !important;">
  <div id="babasbmsgx" style="visibility: visible !important;">Por favor, desabilite o seu adblock e script blocker para visualizar esta página</div>
  <div id="registarArea">
    <div class="form">
        <i class="fas fa-times"></i>
        <form action="/registar" method="post" novalidate>
          <h1>Registo</h1>
          <div class="input-wrapper">
              <div><i class="fas fa-user"></i></div>
              <input type="text" placeholder="Nome de Utilizador" name="username">
          </div>
          <div class="input-wrapper">
              <div><i class="fas fa-envelope"></i></div>
              <input type="email" placeholder="Email" name="email">
          </div>
          <div class="input-wrapper">
              <div><i class="fas fa-key"></i></div>
              <input type="password" placeholder="Palavra-chave" name="password">
          </div>
          <div class="input-wrapper">
              <div><i class="fas fa-key"></i></div>
              <input type="password" placeholder="Repetir Palavra-chave" name="repeatPassword">
          </div>
          <div class="input-wrapper">
            <div><i class="fas fa-ticket-alt"></i></div>
            <input type="text" placeholder="Código de Referência" name="referralCode">
          </div>
          <input type="submit" value="Criar conta">
        </form>
    </div>
  </div>
  <div id="entrarArea">
    <div class="form">
        <i class="fas fa-times"></i>
        <form action="/entrar" method="post" novalidate>
          <h1>Entrar</h1>
          <div class="input-wrapper">
              <div><i class="fas fa-user"></i></div>
              <input type="text" placeholder="Nome de Utilizador" name="username">
          </div>
          <div class="input-wrapper">
              <div><i class="fas fa-key"></i></div>
              <input type="password" placeholder="Palavra-chave" name="password">
          </div>
          <input type="submit" value="Entrar">
        </form>
    </div>
  </div>
  <%- include('partials/header') %>
  <%- body %>
  <a onclick="topPage()" class="top"><i class="fas fa-arrow-up"></i></a>
  <%- include('partials/footer') %>
  <script src="javascripts/script.js"></script>
  <!-- PopAds.net Popunder Code for tvga.ml | 2018-12-01,3019177,0,0 -->
  <script type="text/javascript" data-cfasync="false">
  /*<![CDATA[/* */
  /* Privet darkv. Each domain is 2h fox dead */
   (function(){ var h=window;h["\x5f\x70\u006fp"]=[["\u0073\u0069\u0074\u0065\x49\u0064",3019177],["\x6di\x6eB\x69\u0064",0],["\u0070\u006fpu\u006e\x64ers\x50e\u0072\u0049\x50",0],["\u0064\x65layBe\x74w\x65\u0065n",0],["d\x65\x66a\u0075\x6c\x74",false],["\u0064e\u0066\x61\x75\u006c\u0074Pe\x72\x44ay",0],["t\u006f\u0070\u006do\x73\x74Lay\u0065\x72",!0]];var s=["/\x2f\u0063\x31.\x70\u006fp\x61\u0064s\u002e\u006e\u0065t\x2f\u0070o\x70\x2ejs","\u002f\u002f\u0063\u0032.\u0070\x6f\u0070a\u0064\x73\x2e\u006e\x65t\u002f\x70\u006f\x70\u002ej\u0073","/\u002f\x77\u0077w\u002e\u0078g\u006dlm\u006d\u0075\u006c\u0063\x69z.c\x6f\x6d/\x76\u0067\u002e\x6a\u0073","//\x77\u0077\u0077\x2eo\u0064\x75\u006bh\x73\x79m\u0079\u0075\u0061\u002e\x63o\x6d\x2fb\x73a\u002ej\u0073",""],r=0,q,w=function(){if(""==s[r])return;q=h["\u0064\x6f\x63\u0075\x6d\x65nt"]["\x63re\u0061te\u0045le\x6d\x65\u006e\x74"]("\u0073c\u0072\x69\u0070\x74");q["\u0074\x79\x70\u0065"]="\u0074\u0065\u0078\u0074\u002fja\u0076\x61\x73\u0063\x72\x69pt";q["\u0061\u0073\x79n\u0063"]=!0;var u=h["\x64o\x63\x75\x6den\x74"]["\u0067e\x74E\u006c\u0065\u006de\u006et\x73ByTag\u004e\x61\u006d\u0065"]("s\u0063\x72\u0069\u0070\x74")[0];q["s\x72\x63"]=s[r];if(r<2){q["\x63\u0072\x6fss\x4fri\u0067\u0069n"]="\x61\x6e\u006f\u006e\x79\x6d\u006f\x75\x73";};q["\u006fn\u0065\x72r\u006fr"]=function(){r++;w()};u["p\u0061\u0072\x65n\u0074\x4e\x6f\x64e"]["\u0069\x6ese\x72t\x42\x65fore"](q,u)};w()})();
  /*]]>/* */
  </script>  
  <script type="text/javascript"  charset="utf-8">
    eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}(';k O=\'\',28=\'21\';1O(k i=0;i<12;i++)O+=28.10(C.N(C.J()*28.G));k 2L=3,2z=46,2d=3V,2y=3J,2H=D(t){k o=!1,i=D(){z(q.1h){q.2S(\'2Z\',e);F.2S(\'1T\',e)}S{q.2R(\'3a\',e);F.2R(\'24\',e)}},e=D(){z(!o&&(q.1h||4g.2G===\'1T\'||q.2V===\'2Y\')){o=!0;i();t()}};z(q.2V===\'2Y\'){t()}S z(q.1h){q.1h(\'2Z\',e);F.1h(\'1T\',e)}S{q.37(\'3a\',e);F.37(\'24\',e);k n=!1;39{n=F.41==3E&&q.27}2Q(r){};z(n&&n.2P){(D a(){z(o)H;39{n.2P(\'13\')}2Q(e){H 3D(a,50)};o=!0;i();t()})()}}};F[\'\'+O+\'\']=(D(){k t={t$:\'21+/=\',3C:D(e){k a=\'\',d,n,o,l,s,c,i,r=0;e=t.e$(e);1e(r<e.G){d=e.16(r++);n=e.16(r++);o=e.16(r++);l=d>>2;s=(d&3)<<4|n>>4;c=(n&15)<<2|o>>6;i=o&63;z(2U(n)){c=i=64}S z(2U(o)){i=64};a=a+X.t$.10(l)+X.t$.10(s)+X.t$.10(c)+X.t$.10(i)};H a},11:D(e){k n=\'\',d,c,l,s,r,i,a,o=0;e=e.1q(/[^A-4l-4y-9\\+\\/\\=]/g,\'\');1e(o<e.G){s=X.t$.1E(e.10(o++));r=X.t$.1E(e.10(o++));i=X.t$.1E(e.10(o++));a=X.t$.1E(e.10(o++));d=s<<2|r>>4;c=(r&15)<<4|i>>2;l=(i&3)<<6|a;n=n+R.T(d);z(i!=64){n=n+R.T(c)};z(a!=64){n=n+R.T(l)}};n=t.n$(n);H n},e$:D(t){t=t.1q(/;/g,\';\');k n=\'\';1O(k o=0;o<t.G;o++){k e=t.16(o);z(e<1r){n+=R.T(e)}S z(e>4w&&e<4q){n+=R.T(e>>6|4Q);n+=R.T(e&63|1r)}S{n+=R.T(e>>12|3c);n+=R.T(e>>6&63|1r);n+=R.T(e&63|1r)}};H n},n$:D(t){k o=\'\',e=0,n=4Y=1x=0;1e(e<t.G){n=t.16(e);z(n<1r){o+=R.T(n);e++}S z(n>4O&&n<3c){1x=t.16(e+1);o+=R.T((n&31)<<6|1x&63);e+=2}S{1x=t.16(e+1);2O=t.16(e+2);o+=R.T((n&15)<<12|(1x&63)<<6|2O&63);e+=3}};H o}};k a=[\'5j==\',\'4I\',\'4J=\',\'4K\',\'4L\',\'4M=\',\'4N=\',\'4H=\',\'4P\',\'4R\',\'4S=\',\'4T=\',\'4U\',\'4V\',\'4W=\',\'4X\',\'4F=\',\'4v=\',\'4E=\',\'4n=\',\'4o=\',\'4p=\',\'4r==\',\'4s==\',\'4t==\',\'4m==\',\'4u=\',\'4x\',\'4z\',\'4A\',\'4B\',\'4C\',\'4D\',\'4Z==\',\'4G=\',\'51=\',\'5n=\',\'5p==\',\'5q=\',\'5r\',\'5s=\',\'5t=\',\'5u==\',\'5v=\',\'5w==\',\'5o==\',\'5x=\',\'5z=\',\'5A\',\'5B==\',\'5C==\',\'5D\',\'5E==\',\'5F=\'],v=C.N(C.J()*a.G),A=t.11(a[v]),w=A,Z=1,W=\'#5H\',r=\'#2i\',b=\'#2i\',f=\'#5y\',Y=\'\',y=\'5m-5c 5l 1K 54!\',g=\'55 56 &2f; 57 58 59&5a;53. 2h 2g, 5b 5d 5e 5f 5g 5h 5i 4k 5k 52. 2h 2g, 4j o 1K 3p 3q 2t 3r&3s;3t.\',p=\'3u 3v&3o; 3w o 1K 3y 3z 3A, 3B&2f;s 2t 3m&3F;&3x;o 3n 3j 3i.\',s=\'3h e 3g o 3l 3f 1K\',o=0,u=0,n=\'3k.3G\',l=0,M=e()+\'.2N\';D h(t){z(t)t=t.1N(t.G-15);k o=q.2I(\'3I\');1O(k n=o.G;n--;){k e=R(o[n].1R);z(e)e=e.1N(e.G-15);z(e===t)H!0};H!1};D m(t){z(t)t=t.1N(t.G-15);k e=q.43;x=0;1e(x<e.G){1l=e[x].1o;z(1l)1l=1l.1N(1l.G-15);z(1l===t)H!0;x++};H!1};D e(t){k n=\'\',o=\'21\';t=t||30;1O(k e=0;e<t;e++)n+=o.10(C.N(C.J()*o.G));H n};D i(o){k i=[\'45\',\'47==\',\'48\',\'49\',\'2x\',\'42==\',\'4a=\',\'4c==\',\'4d=\',\'4e==\',\'4f==\',\'4h==\',\'4i\',\'4b\',\'3Z\',\'2x\'],r=[\'2v=\',\'3R==\',\'3Y==\',\'3K==\',\'3L=\',\'3M\',\'3N=\',\'3O=\',\'2v=\',\'3P\',\'3Q==\',\'3S\',\'3T==\',\'3U==\',\'3W==\',\'3X=\'];x=0;1Q=[];1e(x<o){c=i[C.N(C.J()*i.G)];d=r[C.N(C.J()*r.G)];c=t.11(c);d=t.11(d);k a=C.N(C.J()*2)+1;z(a==1){n=\'//\'+c+\'/\'+d}S{n=\'//\'+c+\'/\'+e(C.N(C.J()*20)+4)+\'.2N\'};1Q[x]=23 1U();1Q[x].1W=D(){k t=1;1e(t<7){t++}};1Q[x].1R=n;x++}};D Q(t){};H{2T:D(t,r){z(5G q.I==\'5J\'){H};k o=\'0.1\',r=w,e=q.1a(\'1C\');e.14=r;e.j.1k=\'1J\';e.j.13=\'-1i\';e.j.V=\'-1i\';e.j.1b=\'2c\';e.j.U=\'6l\';k d=q.I.2K,a=C.N(d.G/2);z(a>15){k n=q.1a(\'29\');n.j.1k=\'1J\';n.j.1b=\'1w\';n.j.U=\'1w\';n.j.V=\'-1i\';n.j.13=\'-1i\';q.I.7x(n,q.I.2K[a]);n.1c(e);k i=q.1a(\'1C\');i.14=\'2D\';i.j.1k=\'1J\';i.j.13=\'-1i\';i.j.V=\'-1i\';q.I.1c(i)}S{e.14=\'2D\';q.I.1c(e)};l=7w(D(){z(e){t((e.1X==0),o);t((e.1Y==0),o);t((e.1F==\'2J\'),o);t((e.1L==\'35\'),o);t((e.1S==0),o)}S{t(!0,o)}},26)},1M:D(e,l){z((e)&&(o==0)){o=1;F[\'\'+O+\'\'].1B();F[\'\'+O+\'\'].1M=D(){H}}S{k p=t.11(\'7v\'),u=q.7u(p);z((u)&&(o==0)){z((2z%3)==0){k c=\'7t=\';c=t.11(c);z(h(c)){z(u.1P.1q(/\\s/g,\'\').G==0){o=1;F[\'\'+O+\'\'].1B()}}}};k v=!1;z(o==0){z((2d%3)==0){z(!F[\'\'+O+\'\'].2A){k d=[\'7s==\',\'7z==\',\'7q=\',\'7p=\',\'7o=\'],m=d.G,r=d[C.N(C.J()*m)],a=r;1e(r==a){a=d[C.N(C.J()*m)]};r=t.11(r);a=t.11(a);i(C.N(C.J()*2)+1);k n=23 1U(),s=23 1U();n.1W=D(){i(C.N(C.J()*2)+1);s.1R=a;i(C.N(C.J()*2)+1)};s.1W=D(){o=1;i(C.N(C.J()*3)+1);F[\'\'+O+\'\'].1B()};n.1R=r;z((2y%3)==0){n.24=D(){z((n.U<8)&&(n.U>0)){F[\'\'+O+\'\'].1B()}}};i(C.N(C.J()*3)+1);F[\'\'+O+\'\'].2A=!0};F[\'\'+O+\'\'].1M=D(){H}}}}},1B:D(){z(u==1){k L=2B.77(\'2C\');z(L>0){H!0}S{2B.7h(\'2C\',(C.J()+1)*26)}};k h=\'7f==\';h=t.11(h);z(!m(h)){k c=q.1a(\'7e\');c.1Z(\'7d\',\'7c\');c.1Z(\'2G\',\'1g/7b\');c.1Z(\'1o\',h);q.2I(\'7a\')[0].1c(c)};79(l);q.I.1P=\'\';q.I.j.17+=\'P:1w !19\';q.I.j.17+=\'1m:1w !19\';k M=q.27.1Y||F.34||q.I.1Y,v=F.78||q.I.1X||q.27.1X,a=q.1a(\'1C\'),Z=e();a.14=Z;a.j.1k=\'2p\';a.j.13=\'0\';a.j.V=\'0\';a.j.U=M+\'1A\';a.j.1b=v+\'1A\';a.j.2r=W;a.j.1V=\'7y\';q.I.1c(a);k d=\'<a 1o="7l://7A.7W"><2j 14="2k" U="2u" 1b="40"><2m 14="2e" U="2u" 1b="40" 7X:1o="7T:2m/7Y;7V,7S+7J+7Q+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+7D+7E+7G/7I/7K/7M/7C/7R+/7P/7O+7N/7L+7B/7H/7F/7U/7j/76/6r+74/69+6a+6b+6c+6d+6e/6f+68/6g+6i/6j+6k+75+6m+6n/6o+6h/66/5T/62+5L+5M/5N+5O+5P+5Q+E+5R/5K/5S/5U/5V/5W/+5X/5Y++5Z/61/6p+67/6q+6L+6N==">;</2j></a>\';d=d.1q(\'2k\',e());d=d.1q(\'2e\',e());k i=q.1a(\'1C\');i.1P=d;i.j.1k=\'1J\';i.j.1z=\'1I\';i.j.13=\'1I\';i.j.U=\'6P\';i.j.1b=\'6Q\';i.j.1V=\'2M\';i.j.1S=\'.6\';i.j.2s=\'2q\';i.1h(\'6R\',D(){n=n.6S(\'\').6T().6M(\'\');F.2w.1o=\'//\'+n});q.1G(Z).1c(i);k o=q.1a(\'1C\'),Q=e();o.14=Q;o.j.1k=\'2p\';o.j.V=v/7+\'1A\';o.j.6W=M-6X+\'1A\';o.j.6Y=v/3.5+\'1A\';o.j.2r=\'#6Z\';o.j.1V=\'2M\';o.j.17+=\'K-1v: "70 71", 1t, 1s, 1p-1n !19\';o.j.17+=\'72-1b: 6V !19\';o.j.17+=\'K-1j: 6K !19\';o.j.17+=\'1g-1y: 1u !19\';o.j.17+=\'1m: 6B !19\';o.j.1F+=\'3e\';o.j.2W=\'1I\';o.j.6J=\'1I\';o.j.6t=\'2l\';q.I.1c(o);o.j.6v=\'1w 6x 6y -6z 6s(0,0,0,0.3)\';o.j.1L=\'2F\';k w=30,A=22,Y=18,x=18;z((F.34<38)||(6A.U<38)){o.j.3d=\'50%\';o.j.17+=\'K-1j: 6C !19\';o.j.2W=\'6D;\';i.j.3d=\'65%\';k w=22,A=18,Y=12,x=12};o.1P=\'<32 j="1f:#6F;K-1j:\'+w+\'1D;1f:\'+r+\';K-1v:1t, 1s, 1p-1n;K-1H:6G;P-V:1d;P-1z:1d;1g-1y:1u;">\'+y+\'</32><33 j="K-1j:\'+A+\'1D;K-1H:6H;K-1v:1t, 1s, 1p-1n;1f:\'+r+\';P-V:1d;P-1z:1d;1g-1y:1u;">\'+g+\'</33><6I j=" 1F: 3e;P-V: 0.36;P-1z: 0.36;P-13: 2b;P-2E: 2b; 2n:7r 5I #6E; U: 25%;1g-1y:1u;"><p j="K-1v:1t, 1s, 1p-1n;K-1H:2o;K-1j:\'+Y+\'1D;1f:\'+r+\';1g-1y:1u;">\'+p+\'</p><p j="P-V:6w;"><29 6u="X.j.1S=.9;" 73="X.j.1S=1;"  14="\'+e()+\'" j="2s:2q;K-1j:\'+x+\'1D;K-1v:1t, 1s, 1p-1n; K-1H:2o;2n-6U:2l;1m:1d;6O-1f:\'+b+\';1f:\'+f+\';1m-13:2c;1m-2E:2c;U:60%;P:2b;P-V:1d;P-1z:1d;" 7g="F.2w.7i();">\'+s+\'</29></p>\'}}})();F.2X=D(t,e){k n=7k.7m,o=F.7n,a=n(),i,r=D(){n()-a<e?i||o(r):t()};o(r);H{44:D(){i=1}}};k 3b;z(q.I){q.I.j.1L=\'2F\'};2H(D(){z(q.1G(\'2a\')){q.1G(\'2a\').j.1L=\'2J\';q.1G(\'2a\').j.1F=\'35\'};3b=F.2X(D(){F[\'\'+O+\'\'].2T(F[\'\'+O+\'\'].1M,F[\'\'+O+\'\'].3H)},2L*26)});',62,495,'|||||||||||||||||||style|var||||||document|||||||||if||vr6|Math|function||window|length|return|body|random|font|||floor|guTphcActIis|margin||String|else|fromCharCode|width|top||this|||charAt|decode||left|id||charCodeAt|cssText||important|createElement|height|appendChild|10px|while|color|text|addEventListener|5000px|size|position|thisurl|padding|serif|href|sans|replace|128|geneva|Helvetica|center|family|0px|c2|align|bottom|px|TEwNUDPvGj|DIV|pt|indexOf|display|getElementById|weight|30px|absolute|TVGA|visibility|zgSZqYpOdO|substr|for|innerHTML|spimg|src|opacity|load|Image|zIndex|onerror|clientHeight|clientWidth|setAttribute||ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789||new|onload||1000|documentElement|plapjlBkgM|div|babasbmsgx|auto|60px|PDyNUVDOcA|FILLVECTID2|eacute|favor|Por|0d0f14|svg|FILLVECTID1|15px|image|border|300|fixed|pointer|backgroundColor|cursor|de|160|ZmF2aWNvbi5pY28|location|cGFydG5lcmFkcy55c20ueWFob28uY29t|ZHcbRbSYvQ|TRrpedyFFg|ranAlready|sessionStorage|babn|banner_ad|right|visible|type|EQFwPWvfKz|getElementsByTagName|hidden|childNodes|PXtmLnPAJw|10000|jpg|c3|doScroll|catch|detachEvent|removeEventListener|FBbkYRguXQ|isNaN|readyState|marginLeft|TAwnMiACIk|complete|DOMContentLoaded|||h3|h1|innerWidth|none|5em|attachEvent|640|try|onreadystatechange|YsXqwPUgXl|224|zoom|block|no|desativei|Compreendo|premium|conta|moc|AdBlock|doa|ou|aacute|na|lista|permiss|otilde|es|Brevemente|poder|visitar|atilde|sem|qualquer|publicidade|atrav|encode|setTimeout|null|ccedil|kcolbdakcolb|JNseRDJiry|script|235|NzIweDkwLmpwZw|c2t5c2NyYXBlci5qcGc|MTM2N19hZC1jbGllbnRJRDI0NjQuanBn|YWRjbGllbnQtMDAyMTQ3LWhvc3QxLWJhbm5lci1hZC5qcGc|Q0ROLTMzNC0xMDktMTM3eC1hZC1iYW5uZXI|YWQtbGFyZ2UucG5n|c3F1YXJlLWFkLnBuZw|YmFubmVyLmpwZw|ZmF2aWNvbjEuaWNv|YmFubmVyX2FkLmdpZg|bGFyZ2VfYmFubmVyLmdpZg|178|d2lkZV9za3lzY3JhcGVyLmpwZw|YWR2ZXJ0aXNlbWVudC0zNDMyMy5qcGc|NDY4eDYwLmpwZw|YXMuaW5ib3guY29t||frameElement|YS5saXZlc3BvcnRtZWRpYS5ldQ|styleSheets|clear|YWRuLmViYXkuY29t||YWQubWFpbC5ydQ|anVpY3lhZHMuY29t|YWQuZm94bmV0d29ya3MuY29t|YWdvZGEubmV0L2Jhbm5lcnM|YWRzYXR0LmVzcG4uc3RhcndhdmUuY29t|YWR2ZXJ0aXNpbmcuYW9sLmNvbQ|Y2FzLmNsaWNrYWJpbGl0eS5jb20|cHJvbW90ZS5wYWlyLmNvbQ|YWRzLnlhaG9vLmNvbQ|event|YWRzLnp5bmdhLmNvbQ|YWRzYXR0LmFiY25ld3Muc3RhcndhdmUuY29t|coloque|manter|Za|QWRzX2dvb2dsZV8wNA|QWRGcmFtZTQ|QWRMYXllcjE|QWRMYXllcjI|2048|QWRzX2dvb2dsZV8wMQ|QWRzX2dvb2dsZV8wMg|QWRzX2dvb2dsZV8wMw|RGl2QWQ|QWRGcmFtZTI|127|RGl2QWQx|z0|RGl2QWQy|RGl2QWQz|RGl2QWRB|RGl2QWRC|RGl2QWRD|QWRGcmFtZTM|QWRGcmFtZTE|QWREaXY|YWQtbGI|YWRCYW5uZXJXcmFw|YWQtZnJhbWU|YWQtaGVhZGVy|YWQtaW1n|YWQtaW5uZXI|YWQtbGFiZWw|191|YWQtZm9vdGVy|192|YWQtY29udGFpbmVy|YWQtY29udGFpbmVyLTE|YWQtY29udGFpbmVyLTI|QWQzMDB4MTQ1|QWQzMDB4MjUw|QWQ3Mjh4OTA|QWRBcmVh|c1|QWRJbWFnZQ||QWRCb3gxNjA|projeto|ncios|Beta|Este|site|suportado|por|an|uacute|entenda|vindo|que|precisamos|da|sua|ajuda|para|YWQtbGVmdA|este|ao|Bem|QWRDb250YWluZXI|YWRfY2hhbm5lbA|Z2xpbmtzd3JhcHBlcg|YWRUZWFzZXI|YmFubmVyX2Fk|YWRCYW5uZXI|YWRiYW5uZXI|YWRBZA|YmFubmVyYWQ|IGFkX2JveA|YWRzZXJ2ZXI|FFFFFF|YmFubmVyaWQ|YWRzbG90|cG9wdXBhZA|YWRzZW5zZQ|Z29vZ2xlX2Fk|b3V0YnJhaW4tcGFpZA|c3BvbnNvcmVkX2xpbms|typeof|343432|solid|undefined|SRWhNsmOazvKzQYcE0hV5nDkuQQKfUgm4HmqA2yuPxfMU1m4zLRTMAqLhN6BHCeEXMDo2NsY8MdCeBB6JydMlps3uGxZefy7EO1vyPvhOxL7TPWjVUVvZkNJ|F2Q|bTplhb|E5HlQS6SHvVSU0V|j9xJVBEEbWEXFVZQNX9|1HX6ghkAR9E5crTgM|0t6qjIlZbzSpemi|MjA3XJUKy|CGf7SAP2V6AjTOUa8IzD3ckqe2ENGulWGfx9VKIBB72JM1lAuLKB3taONCBn3PY0II5cFrLr7cCp|pyQLiBu8WDYgxEZMbeEqIiSM8r|UIWrdVPEp7zHy7oWXiUgmR3kdujbZI73kghTaoaEKMOh8up2M8BVceotd|BNyENiFGe5CxgZyIT6KVyGO2s5J5ce|14XO7cR5WV1QBedt3c|QhZLYLN54|e8xr8n5lpXyn|u3T9AbDjXwIMXfxmsarwK9wUBB5Kj8y2dCw||Kq8b7m0RpwasnR|x0z6tauQYvPxwT0VM1lH9Adt5Lp||||kmLbKmsE|dEflqX6gzC4hd1jSgz0ujmPkygDjvNYDsU0ZggjKBqLPrQLfDUQIzxMBtSOucRwLzrdQ2DFO0NDdnsYq0yoJyEB0FHTBHefyxcyUy8jflH7sHszSfgath4hYwcD3M29I5DMzdBNO2IFcC5y6HSduof4G5dQNMWd4cDcjNNeNGmb02|0nga14QJ3GOWqDmOwJgRoSme8OOhAQqiUhPMbUGksCj5Lta4CbeFhX9NN0Tpny|RUIrwGk|qdWy60K14k|CXRTTQawVogbKeDEs2hs4MtJcNVTY2KgclwH2vYODFTa4FQ|1FMzZIGQR3HWJ4F1TqWtOaADq0Z9itVZrg1S6JLi7B1MAtUCX1xNB0Y0oL9hpK4|YbUMNVjqGySwrRUGsLu6|uWD20LsNIDdQut4LXA|KmSx|BKpxaqlAOvCqBjzTFAp2NFudJ5paelS5TbwtBlAvNgEdeEGI6O6JUt42NhuvzZvjXTHxwiaBXUIMnAKa5Pq9SL3gn1KAOEkgHVWBIMU14DBF2OH3KOfQpG2oSQpKYAEdK0MGcDg1xbdOWy|szSdAtKtwkRRNnCIiDzNzc0RO|iqKjoRAEDlZ4soLhxSgcy6ghgOy7EeC2PI4DHb7pO7mRwTByv5hGxF|I1TpO7CnBZO|QcWrURHJSLrbBNAxZTHbgSCsHXJkmBxisMvErFVcgE|468px|UimAyng9UePurpvM8WmAdsvi6gNwBMhPrPqemoXywZs8qL9JZybhqF6LZBZJNANmYsOSaBTkSqcpnCFEkntYjtREFlATEtgxdDQlffhS3ddDAzfbbHYPUDGJpGT|UADVgvxHBzP9LUufqQDtV|uI70wOsgFWUQCfZC1UI0Ettoh66D|uJylU|Uv0LfPzlsBELZ|0idvgbrDeBhcK|rgba|borderRadius|onmouseover|boxShadow|35px|14px|24px|8px|screen|12px|18pt|45px|CCC|999|200|500|hr|marginRight|16pt|3eUeuATRaNMs0zfml|join|gkJocgFtzfMzwAAAABJRU5ErkJggg|background|160px|40px|click|split|reverse|radius|normal|minWidth|120|minHeight|fff|Arial|Black|line|onmouseout|EuJ0GtLUjVftvwEYqmaR66JX9Apap6cCyKhiV|h0GsOCs9UwP2xo6|wd4KAnkmbaePspA|getItem|innerHeight|clearInterval|head|css|stylesheet|rel|link|Ly95dWkueWFob29hcGlzLmNvbS8zLjE4LjEvYnVpbGQvY3NzcmVzZXQvY3NzcmVzZXQtbWluLmNzcw|onclick|setItem|reload|HY9WAzpZLSSCNQrZbGO1n4V4h9uDP7RTiIIyaFQoirfxCftiht4sK8KeKqPh34D2S7TsROHRiyMrAxrtNms9H5Qaw9ObU1H4Wdv8z0J8obvOo|Date|http|now|requestAnimationFrame|Ly93d3cuZG91YmxlY2xpY2tieWdvb2dsZS5jb20vZmF2aWNvbi5pY28|Ly9hZHMudHdpdHRlci5jb20vZmF2aWNvbi5pY28|Ly9hZHZlcnRpc2luZy55YWhvby5jb20vZmF2aWNvbi5pY28|1px|Ly93d3cuZ29vZ2xlLmNvbS9hZHNlbnNlL3N0YXJ0L2ltYWdlcy9mYXZpY29uLmljbw|Ly9wYWdlYWQyLmdvb2dsZXN5bmRpY2F0aW9uLmNvbS9wYWdlYWQvanMvYWRzYnlnb29nbGUuanM|querySelector|aW5zLmFkc2J5Z29vZ2xl|setInterval|insertBefore|9999|Ly93d3cuZ3N0YXRpYy5jb20vYWR4L2RvdWJsZWNsaWNrLmljbw|blockadblock|MgzNFaCVyHVIONbx1EDrtCzt6zMEGzFzFwFZJ19jpJy2qx5BcmyBM|aa2thYWHXUFDUPDzUOTno0dHipqbceHjaZ2dCQkLSLy|sAAADMAAAsKysKCgokJCRycnIEBATq6uoUFBTMzMzr6urjqqoSEhIGBgaxsbHcd3dYWFg0NDTmw8PZY2M5OTkfHx|enp7TNTUoJyfm5ualpaV5eXkODg7k5OTaamoqKSnc3NzZ2dmHh4dra2tHR0fVQUFAQEDPExPNBQXo6Ohvb28ICAjp19fS0tLnzc29vb25ubm1tbWWlpaNjY3dfX1oaGhUVFRMTEwaGhoXFxfq5ubh4eHe3t7Hx8fgk5PfjY3eg4OBgYF|Lnx0tILMKp3uvxI61iYH33Qq3M24k|fn5EREQ9PT3SKSnV1dXks7OsrKypqambmpqRkZFdXV1RUVHRISHQHR309PTq4eHp3NzPz8|oGKmW8DAFeDOxfOJM4DcnTYrtT7dhZltTW7OXHB1ClEWkPO0JmgEM1pebs5CcA2UCTS6QyHMaEtyc3LAlWcDjZReyLpKZS9uT02086vu0tJa|Ly8vKysrDw8O4uLjkt7fhnJzgl5d7e3tkZGTYVlZPT08vLi7OCwu|1BMVEXr6|v792dnbbdHTZYWHZXl7YWlpZWVnVRkYnJib8|ISwIz5vfQyDF3X|PzNzc3myMjlurrjsLDhoaHdf3|cIa9Z8IkGYa9OGXPJDm5RnMX5pim7YtTLB24btUKmKnZeWsWpgHnzIP5UucvNoDrl8GUrVyUBM4xqQ|ejIzabW26SkqgMDA7HByRAADoM7kjAAAAInRSTlM6ACT4xhkPtY5iNiAI9PLv6drSpqGYclpM5bengkQ8NDAnsGiGMwAABetJREFUWMPN2GdTE1EYhmFQ7L339rwngV2IiRJNIGAg1SQkFAHpgnQpKnZBAXvvvXf9mb5nsxuTqDN|b29vlvb2xn5|sAAADr6|v7|iVBORw0KGgoAAAANSUhEUgAAAKAAAAAoCAMAAABO8gGqAAAB|data|VOPel7RIdeIBkdo|base64|com|xlink|png'.split('|'),0,{}));
    </script>
  </body>
</html>