<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="javascripts/playerjs.js"></script>
    <script src="/videojs/video.js"></script>
    <script src="/videojs/videojs-http-streaming.min.js"></script>
    <link rel="stylesheet" href="/videojs/video-js.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>