<h1><%= title %></h1>
<video-js id=vid1 width=600 height=300 class="vjs-default-skin vjs-16-9" controls>
    <source
        src=<%= file %>
        type="application/x-mpegURL">
</video-js>
<script>
    var player = videojs('vid1');
    player.play();
</script>
<!-- <div id="stream" style="width: 50%; margin-left: 25%"></div>

<script>
    let stream = new Playerjs({id: "stream", file: '<%= file %>', poster: '<%= poster %>', autoplay: true});
</script>
<script src="/javascripts/speedtest.js"></script> -->