<h1><%= title %></h1>
<video id="vid1" class="video-js vjs-default-skin vjs-big-play-centered"
    controls
    width="50%"
    height="50%"
    data-setup='{ 
        "aspectRatio":"16:9", "fluid": true,
        "sources": [{ "type": "application/x-mpegURL", "src": "<%= file %>"}]
    }'
></video>
<script>
    var player = videojs('vid1');
    player.play();
</script>
<!-- <div id="stream" style="width: 50%; margin-left: 25%"></div>

<script>
    let stream = new Playerjs({id: "stream", file: '<%= file %>', poster: '<%= poster %>', autoplay: true});
</script>
<script src="/javascripts/speedtest.js"></script> -->