<div style="margin: 10vw 30vw">
    <video id=player width=600 height=300 class="video-js vjs-default-skin" controls>
        <source src="<%= file %>" type="application/x-mpegURL">
    </video>
</div>

<script>
    var player = videojs('#player', {
        autoplay: true
    });
</script>