<div style="margin: 10vw 30vw">
    <video id=player width=600 height=300 class="video-js vjs-default-skin" controls>
    </video>
</div>

<link rel="stylesheet" href="stylesheets/video-js.css">
<script src="javascripts/video.js"></script>
<script src="javascripts/videojs-contrib-hlsjs.min.js"></script>
<script id="setPlayer">
    var player = videojs('#player', {
        autoplay: true
    });
    player.src({ type: "application/x-mpegURL", src: "<%= file %>" });
</script>