<h1><%= title %></h1>

<video style="margin: 15vw" id=player width=600 height=300 class="video-js vjs-default-skin" controls>
    <source src="<%= file %>" type="application/x-mpegURL">
</video>
<link rel="stylesheet" href="stylesheets/video-js.css">
<script src="javascripts/video.js"></script>
<script src="javascripts/videojs-contrib-hlsjs.min.js"></script>
<script>
    var player = videojs('#player');
</script>