<!-- <h1><%= title %></h1>
<div id="stream" style="width: 50%; margin-left: 25%"></div>

<script>
    let stream = new Playerjs({id: "stream", file: '<%= file %>', autoplay: true});
</script> -->

<video-js style="width: 50%; margin-left: 25%" id="my_video_1" class="vjs-default-skin" controls preload="auto" width="640" height="268">
    <source src="<%= file %>" type="application/x-mpegURL">
</video-js>

<script src="https://unpkg.com/video.js/dist/video.js"></script>
<script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>

<script>
    let player = videojs('my_video_1');
</script>