<header>
    <nav>
        <ul>
            <li>
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </li> 
            <li class="liNav"><a class="hvr-underline-from-left" href="/">INÍCIO</a></li>
            <li class="liNav"><a class="hvr-underline-from-left" href="#">CANAIS</a></li>
            <li><a class="logo hvr-bob" href="/"><img src="images/tvga-logo.png" alt="Logo"></a></li>
            <li class="liNav"><a class="hvr-underline-from-right" href="#">REGISTAR</a></li>
            <li class="liNav" style="margin-right: -4vw;"><a class="hvr-underline-from-right" href="#">ENTRAR</a></li>
            <li class="buyPremium"><a style="margin-right: 0" onmouseover="hover($('#buyPremium'), 'images/buyPremiumHover.png');" onmouseout="unhover($('#buyPremium'), 'images/buyPremium.png')" class="hvr-pulse" href="#"><img id="buyPremium" src="images/buyPremium.png" alt="buyPremium"></a></li>
        </ul>
    </nav>
</header>

<div id="nav-menu">
    <ul>
        <li><a class="hvr-underline-from-center" href="/">INÍCIO</a></li>
        <li><a class="hvr-underline-from-center" href="#">CANAIS</a></li>
        <li><a class="hvr-underline-from-center" href="#">REGISTAR</a></li>
        <li><a class="hvr-underline-from-center" href="#">ENTRAR</a></li>
    </ul> 
</div>